html{
  font-size: 62.5%;
}

html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 5%);
  background-image: url(../images/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gui{
  position: absolute;
  display: flex;
}

#controller{
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 70%, 30%, .8);
  color: white;
  padding: 0.5rem;
  border-top: .2rem solid hsl(0, 70%, 15%);
}

.btn{
  border: none;
  padding: 0 .25rem;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 50%;
  border: .1rem dotted hsl(0, 70%, 30%);
  transition: all 300ms;
}
.btn:hover{
  font-size: 2rem;
}

.modal{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 5%, .75);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card{
  width: 75%;
  min-height: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 95%);
  font-size: 1.4rem;
}

.card-header{
  border-radius: 1rem 1rem 0 0;
  background-color: hsl(0, 70%, 15%);
  width: 100%;
  height: 10%;
  text-align: center;
  padding: 1rem .5rem;
  text-transform: uppercase;
  cursor: default;
}

.card-body{
  background-color: hsl(0, 0%, 80%);
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  height: 90%;
  padding: 2rem .5rem;
  color: hsl(0, 0%, 5%);
  cursor: default;
}

@media (max-width: 992px){
  .container{
    background-image: none;
  }
}